@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}
.column2 {
	float: left;
	width: 50%;
	padding: 5px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}

h2, h1 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: darkred;
}

p {
	color: purple;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	line-height: 18px;
	background-color: black;
	padding: 20px;
}

span {color:white;}

h3 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: darkblue;
}







